footer
    div(class="footer-container")
        div(class="footer-left")
            a(href="https://www.linkedin.com/in/gustavo-sakamoto-de-toledo-3120a0240/") LinkedIn
            a(href="mailto:gustavosakamotox@gmail.com") Email
            a(href="https://www.instagram.com/gustavo.sakamoto.toledo/") Instagram
    p @ Copyright 2025 by Gustavo Sakamoto de Toledo