header
    nav(class="navbar")
        a(href="/" class="logo")
            img(src="/img/favicon.ico" alt="CSCI4131 logo")
        div(class="nav-links")
            a(href="/about") About
            a(href="/schedule") Schedule
            a(href="/form") Add Event
            a(href="/stocks") Stocks